@charset "ISO-8859-1";


html {
  position: relative;
  min-height: 100%;
}

body {
      position: relative; /* x scrollyspy */
      padding-top: 0px; /* x navbar */
    }
    
body::after {
  content: '';
  display: block;
  height: 60px; /*  */
}

a {
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
}

div.premium-blocker {
	display: block;
	position: absolute;
	top:0;
	left:0;
	margin-top:60px;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	border:2px solid #000;
	text-align: center;
}

    

#contenedor-principal {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}    
    
.login-page {
		  width: 360px;
		  padding: 8% 0 0;
		  margin: auto;
		}
		
.form {
	  position: relative;
	  z-index: 1;
	  background: #FFFFFF;
	  max-width: 360px;
	  margin: 0 auto 100px;
	  padding: 45px;
	  text-align: center;
	  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	}
	

.form button {
	  font-family: "Roboto", sans-serif;
	  text-transform: uppercase;
	  outline: 0;
	  background: dodgerblue;
	  width: 100%;
	  border: 0;
	  padding: 15px;
	  color: #FFFFFF;
	  font-size: 14px;
	  -webkit-transition: all 0.3 ease;
	  transition: all 0.3 ease;
	  cursor: pointer;
	  opacity: 0.9;
	}
.form button:hover,.form button:active,.form button:focus {
	  background: dodgerblue;
	  opacity: 1.0;
	}
	
.input-group.md-form.form-sm.form-1 input{
border: 1px solid #bdbdbd;
border-top-right-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
}
		
.input-container {
  display: flex;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
}

.input-field {
  outline: 0; 
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  padding: 5px;
  
  height: 40px;
  background: #f2f2f2;
}

.input-field:focus {
  border: 1px solid dodgerblue;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #607D8B !important;
  color: #CFD8DC !important;
}

.btn-text-l {
	font-size: 150% !important;
}

.btn-primary {
	background-color: dodgerblue !important;
	border-color: dodgerblue !important;
	color: #fcfcfc !important;
	opacity: 0.9;
	
}

.btn-primary:hover {
	color: #fefefe !important;
	opacity: 1.0;
}

.btn-outline-primary {
	color: dodgerblue !important;
	border-color: dodgerblue !important;
	opacity: 0.9;
}

.btn-outline-primary:hover {
	background-color: dodgerblue !important;
	color: #FFFFFF !important;
	border-color: dodgerblue !important;
}

.img-blur {
	box-shadow: 0 0 25px #000000;
	border-radius: 4px;
}

.tarjeta img { 
	height: 250px !important;
	width: 12rem;
}

.nota img {
	height: 125px !important
}